div .errors {
    color: #ffa6a3;
}

body {
    display: grid;
    place-items: center;

    background-color: #194769;
    color: blanchedalmond;

}

.wrapper{
    margin: 7%;
}

h2 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.button-personal {
    background-color: #f2855e;
}
